:root {
    --primary-color: #007bff;
    --text-color: black;
    --gray-bg-color: #faf9f8;
    --white-bg-color: white;
    --input-padding-x: 1.5rem;
    --input-padding-y: 0.75rem;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Montserrat;
    letter-spacing: 1px;
    font-size: 1rem;
}

html,
body {
    height: 100%;
}

#root {
    height: 100%;
}

p {
    margin: 0;
}

.navbar-light .navbar-nav .nav-link {
    color: var(--text-color);
}

.navbar-brand {
    font-size: 1.1rem;
    font-weight: bold;
}
/* end nav bar*/

.showcase {
    width: 100%;
    height: 100vh;
    position: relative;
    /* background-color: brown; */
    /* background: url("./images/mainpic.jpg") no-repeat center center/cover; */
}

.div-flex {
    display: flex;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.search-inputs {
    margin: 0 10px;
}

.search-form > div:first-child {
    margin-right: 10px;
}

.input-style {
    color: var(--text-color);
    font-weight: bold;
    font-size: small;
    background: white;
    display: flex;
    align-items: center;
    text-align: center;
    border: 1px solid #ced4da;
    border-right: none;
    padding-left: 25px;
    padding-right: 25px;
    border-top-left-radius: 0.3rem;
    border-bottom-left-radius: 0.3rem;
}

.button-style {
    font-weight: bold;
    /* padding-left: 25px;
    padding-right: 25px; */
    border-radius: 0.3rem;
    margin-left: 20px;
}

.btn-round {
    background: none;
    color: gray;
    font-size: 0.8rem;
    border-radius: 30px;
    padding: 0.8rem;
}

.bl-none {
    border-left: none;
}
.center {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.c-black {
    color: var(--text-color);
}
.height-div {
    height: 15%;
    width: auto;
}

.width-div {
    height: auto;
    width: 50%;
}

.width-33-percent {
    width: 33%;
}
.c-bg-gray {
    background: var(--gray-bg-color);
}
.c-bg-white {
    background: var(--white-bg-color);
}

.primary-color {
    color: var(--primary-color);
}

/*tabs*/
.nav-tabs {
    border-bottom: none;
}

/* .nav-link.active, */

.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover {
    border-bottom: 1px solid black;
}
.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    border-top: none;
    border-right: none;
    border-left: none;
    border-color: black;
}

/*end of tabs*/

/* signin */
.round-border {
    border-radius: 40px;
}

.card-signin {
    border: 0;

    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.h-center {
    min-height: 100%;
}
/* end of signin */

/* bookmark star*/
.star-checkbox {
    display: none;
}
/*end of bookmark star*/
@media (max-width: 781px) {
    .div-flex {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .search-form > div:first-child {
        margin-right: 0;
    }

    .button-style {
        margin-left: 0;
        width: 100%;
    }

    .margin-top {
        margin-top: 0.5rem;
    }

    .width-div {
        width: 100%;
    }
}
